* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

  nav {
    background-color: whitesmoke;
    position: relative;
    top: 10%;
    left: auto;
    box-shadow: 5px -5px 5px 6px black;
    right: auto;
    color: whitesmoke;
    box-shadow: inset;
    display: flex;
  }


 .nav-bar {

    list-style-type: none;
    color: black;
    display: flex;
    padding: 10px;
    margin: 5px;


 }


nav ol li {
  margin: 10px;
  position: relative;
  left: 300%;
  font-size: 1.5em;
  text-transform: capitalize;
}

/* nav bar hover */

nav ol li:hover {
text-decoration: underline;
color:red;
/* font-size: 1.6em; */
}